<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>
        {% block tilte %} {% endblock %}
    </title>
</head>

<body style="background-color:whitesmoke">
    <h3 class="text-center my-3"> <i class="fab fa-youtube"></i>Youtube Downloader</h3>
    <nav class="navbar navbar-expand-sm bg-primary  justify-content-center">


        <ul class="navbar-nav ">
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'home' %}">Youtube Downloader</a>
                
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'home' %}">Youtube To MP4</a>
                
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'home' %}">Youtube To MP3</a>
                
            </li>
           
        </ul>

    </nav>
    <div class="container">
       
            {% block b %}
            {% endblock %}
       
    </div>
   

</body>

</html>